body{
    background: rgb(226, 226, 226) url("../img/main_bg.png");
    background-position: center;
    background-size: cover;
    font-family: 'Roboto', sans-serif ;
    height: 100vh;
}



.navbar-brand{
    font-weight: 900;
    color: #49515d;
}

.navbar-brand .deb{
   
    color: #2eca7f;
}



.navbar-nav .nav-item .nav-link{
    
    color: rgb(167, 167, 167);
    font-weight: 500;
}

.navbar-nav .nav-item{
    
    color: rgb(167, 167, 167);
    font-weight: 500;
   
    border-bottom:solid 2px rgba(100, 100, 100, 0);
    transition-duration: 500ms;
}

.navbar-nav .nav-item:hover{
    border-bottom:solid 2px rgba(100, 100, 100, 1);   
}



.pr-box{
    
    background: #2eca7f url('../img/sp_main_bg.png');
    background-size:cover;
    height: 250px;
    border-radius:15px 15px 0 0;
   
}

.pro-div{
    height:200px
}

.img-photo{
    max-width: 193px;
    height:193px;
    border: solid 3px #f5f5f5;
    transition: box-shadow 300ms;
}
.img-photo:hover{
    box-shadow: 10px 10px 16px -8px rgba(0, 0, 0, 0.70) ;
}

.img-head{
    margin-top: 30px;
    transition:300ms;
}
.img-head:hover{
    margin-top: 20px;
}


.zzzz{
    z-index: -4;
}

.big-name{
    font-size:54px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
    
}

.dev-details{
    font-size:16px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    margin-bottom: 8px;
    
}



.lst-half{
    height: 260px;
    background-color: #ffffff;
    border-radius: 0 0 15px 15px;
}



@media only screen and (max-width: 700px) {
    .img-head{
        margin-top: 0px;
    }
    .img-head:hover{
        margin-top: 5px;
    }
    .pr-box{
        height:400px ;
       
       
    }
  }

  
@media only screen and (max-width: 350px) {
    .big-name{
        font-size:40px;
        font-weight: 700;
        color: rgb(255, 255, 255);
        font-family: 'Montserrat', sans-serif;
    }
    
    
  }